body {
 background: rgb(102, 70, 70, 0.1);
 font-size: 1.2em;
}

button[disabled] {
 display: none;
}

[aria-pressed="true"] {
 background: rgb(102, 70, 70);
 color: #fff;
}

input::selection,
[contenteditable]::selection,
[contenteditable] span::selection,
textarea::selection {
 background: rgb(56, 38, 38);
 color: #fff;
}

a:link {
 color: rgb(56, 38, 38);
 border-bottom: 2px solid rgb(56, 38, 38)
}

a:visited {
 color: rgb(102, 70, 70);
 border-bottom: 2px solid rgb(56, 38, 38)
}

a:focus,
textarea:focus,
input:focus,
button:focus {
 outline-color: rgb(102, 70, 70);
}

h1 {
 display: inline-block;
}

h1:before {
 background: url(poop.png);
 background-size: cover;
 display: inline-block;
 width: 25px;
 height: 25px;
 content: "";
 margin-right: 10px;
}

#wut {
 margin-left: 2em;
 transform: translateY(-0.4em);
 z-index: 1;
}

label {
 display: inline-block;
 margin: 1px;
 border-radius: 5px;
 padding: 1px 6px;
 transition-duration: 0.3s;
}

label:hover,
label:focus-within {
 background: rgb(102, 70, 70, 0.2);
 box-shadow: 0px 0px 2px 2px rgb(102 70 70);
}

label.wide {
 width: 100%;
 padding: 5px;
}

textarea {
 background: rgb(102, 70, 70);
 color: #fff;
}

textarea,
code[contenteditable] {
 font-size: 16px;
}

#txtRaw {
 height: 23em;
}

pre {
 white-space: pre-wrap;
 margin: 0;
}

#txtConvertedRichText,
#txtConvertedPlainText {
 height: 25em;
 display: block;
 overflow: scroll;
 border: 1px solid rgb(102, 70, 70);
 padding: 5px;
 margin-top: 10px;
}

input {
 color: rgb(102, 70, 70);
}

input[type="text"] {
 padding: 10px;
}

#log {
 text-align: center;
 min-height: 6em;
 background: #fff;
 padding: 0.5em;
 border-radius: 5px;
}

#log:empty {
 background: transparent;
}

#log span {
 font-weight: bold;
}

input {
 border: 1px solid rgb(102, 70, 70);
}

fieldset {
 border: 2px solid rgb(102, 70, 70);
 margin: 0 0 1em 0;
}

.was-fieldset fieldset {
 border: 1px dotted rgb(61, 42, 42);
 padding: 5px;
 background: rgba(255, 255, 255, 0.4);
 border-radius: 5px;
 transition-duration: 0.3s;
}

.was-fieldset fieldset:hover,
.was-fieldset fieldset:focus-within {
 background: rgba(255, 255, 255, 0.8);
}

.was-legend {
  font-size: 1.2em;

}

legend h2,
legend h3 {
 margin: 0;
 font-size: 1em;
}

legend {
 margin: 0;
 outline: 1px dotted rgb(61, 42, 42);
 background: white;
 display: inline-block;
 padding: 2px 10px;
 border-radius: 5px;
}

#miscAttribs div {
 margin: 5px 0;
}

#indentLevel fieldset,
#indentLevel div {
 margin: 10px 0;
}

#turd {
 background: rgb(102, 70, 70);
 border-radius: 15px;
 border: 1px solid black;
 height: 35px;
 width: 100%;
 margin: 1em 0;
 transition-duration: .4s;
 position: static;
 text-align: left;
}

#turd:after {
 content: "Turd-o-Meter";
 position: absolute;
 color: white;
 display: inline-block;
 padding: 2px 20px 4px 20px;
 white-space: nowrap;
}

#morePreferences {
 margin: 0.5em 0;
 display: none;
}

[aria-expanded="true"]+#morePreferences {
 display: block;
}

button {
 color: rgb(102, 70, 70);
 background: rgba(102, 70, 70, 0.1);
 border: 2px solid rgb(56, 38, 38)
}

input[type=text] {
 width: 100%;
}

#btnDecrapulate {
 font-size: 2em;
 width: 100%;
}

#btnDecrapulate img {
 display: inline-block;
 height: 1em;
 margin-right: 5px;
 transform: translateY(5px);
}

#otherFilters .column {
 width: 100%;
 margin: 0;
}

/* fieldset+fieldset {margin-top: 1em;} */
@media (min-width:1500px) {
 #otherFilters .column {
   width: calc(50% - 10px);
   margin: 0;
 }

 #otherFilters .column+.column {
   margin-left: 20px;
 }
}

#indentControls span label {
 padding: 1px;
}

@media (min-width:1500px) {
 #indentControls span label {
   padding: 1px 6px;
 }
}

.pr {
 position: relative;
}

.moreElAndAttributeOptions {
 position: absolute;
 bottom: 10px;
 right: 10px;
}

#stripAttributesCol .moreElAndAttributeOptions {
 bottom: 0px;
}

div.modal {
 position: fixed;
 border: 1px solid black;
 top: 50%;
 left: 50%;
 width: 80%;
 transform: translate(-50%, -50%);
 background: #fff;
 max-width: 40em;
 height: 80vh;
 overflow: auto;
}

div.modal .close {
 position: absolute;
 top: 10px;
 right: 10px;
 background: transparent;
 border: 2px solid #999;
 font-size: 20px;
 color: #fff;
 transition-duration: 0.3s;
 z-index: 10;
 ;
}

div.modal .close:hover,
div.modal .close:focus {
 border: 2px solid #fff;
 outline: 2px solid #fff;
}

div.modal [role="document"] {
 padding: 20px;
}

div.modal .modal-header {
 position: sticky;
 top: 0;
}

div.modal .modal-footer {
 position: sticky;
 bottom: 0;
 background: #fff;
}

div.modal h2 {
 margin: 0;
 background: #333;
 color: #fff;
 padding: 20px;
 margin: -20px -20px 0 -20px;
}

.no-scroll {
 overflow: hidden;
}

.modal-curtain {
 background: rgba(0, 0, 0, 0.5);
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
}

div.modal .actions {
 margin: 0 -20px -20px -20px;
 padding: 20px;
 border-top: 1px dotted #333;
 text-align: center;
}
.vert label {
  display: block;
}